* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body { 
    background-color: black;
    display: flex;
        align-items: center;
        justify-content: center;
    font-family: sans-serif;
    min-height: 100vh;
    position:absolute;
    overflow: hidden;
    width: 100%;
}

h1 {
    background-color: black;
    border-radius: 5px;
    color: black;
    font-family: 'Audiowide', 'jura', serif;
    font-size: clamp(26px, 3vw, 30px);
    padding:1.5px 8px 3px 8px;
    position: absolute;
        top:2%;
    opacity: 0;
    text-align: center;
    text-shadow: 0px 0px 4px lightskyblue;
    user-select: none;
    -webkit-user-select: none;
    z-index: 2;
}

img {
    max-height:70vh;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    z-index: 1;
}

.oval {
    background-color: antiquewhite;
    border: solid 3px lightgoldenrodyellow;
    border-radius: 50%;
    cursor: pointer;
    display:flex;
        align-items: center;
        justify-content: center;
    padding: 5px;
    position: absolute;
}

#output {
    color: white;
    position:absolute;
        bottom:0;
}

nav {
    color:silver;
    cursor: pointer;
    display: none;
    font-size: clamp(30px, 3vw, 34px);
    margin: 8px; 
    position:absolute;
        right: 2%;
        top: 2%;
    user-select: none;
    -webkit-user-select: none;
}

