*::-webkit-scrollbar {
    display: none;
}

body { 
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
    font-family: sans-serif;
    min-height: 100vh;
    min-width:100vw;
    overflow:hidden;
}

img {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    z-index:1;
}
